{% load static %}
<div class="header">
  <a href="#"><img class="logo" src="{% static 'core/img/logo.svg' %}" alt="logo"></a>
  <nav>
    <ul>
      <li class="active"><a href="/">HOME</a></li>
      <li><a href="/products/">PRODUCTS</a></li>
      <li><a href="#">HISTORY</a></li>
      <li><a href="#">SHOWROOM</a></li>
      <li><a href="/contact/">CONTACT</a></li>
      <li><a href="#">
        <img class="search" src="{% static 'core/img/search.svg' %}" alt="search">
      </a></li>
    </ul>
  </nav>
</div>
