{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="hero">
  <div class="hero-content">
    <h2 class="hero-name">Our Products Range</h2>
  </div>
</div>
<div class="featured-product">
  <div class="tab-controll">
    <div>
      <a class="tc-active" href="#">All</a>
      <a class="tc-nav" href="#">Home</a>
      <a class="tc-nav" href="#">Office</a>
      <a class="tc-nav" href="#">Furniture</a>
      <a class="tc-nav" href="#">Modern</a>
      <a class="tc-nav" href="#">Classic</a>
    </div>
  </div>
  <div class="trending-content">
    <a href="product-deails.html"><img src="{% static 'core/img/product-11@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-21@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-31@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-41@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-5@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-6@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-11@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-21@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-31@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-41@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-5@1X.png' %}" alt=""></a>
    <a href="product-deails.html"><img src="{% static 'core/img/product-6@1X.png' %}" alt=""></a>
  </div>
</div>
<div class="promo-product">
  <div class="promo">
    <img class="promo-bg" src="{% static 'core/img/promo-img1.png' %}">
    <div class="promo-content">
      <p class="promo-tag">exclusive</p>
      <h2 class="promo-name">Fishnet Chair</h2>
      <p class="promo-details">Seat and back with
        upholstery made of cold cure foam. Steel frame,
        available in matt powder-coated black
        or highly polished chrome.
      </p>
      <a href="#" class="btn">Order Us</a>
    </div>
  </div>
  <div class="promo">
    <img class="promo-bg" src="{% static 'core/img/promo-img.png' %}">
    <div class="promo-content">
      <p class="promo-tag">exclusive</p>
      <h2 class="promo-name">Fishnet Chair</h2>
      <p class="promo-details">Seat and back with
        upholstery made of cold cure foam. Steel frame,
        available in matt powder-coated black
        or highly polished chrome.
      </p>
      <a href="#" class="btn">Order Us</a>
    </div>
  </div>
</div>
{% endblock %}
