{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/fonts.css' %}">
    <title>{% block title %}Интерьер{% endblock %}</title>
</head>
<body>
  <div class="container">
    {% block header %}
    {% include 'core/header.html' %}
    {% endblock %}

    <div class="slider">
      <img class="slider-bg" src="{% static 'core/img/slider-img.png' %}">
      <div class="slider-content">
        <p class="slider-tag">TRENDING</p>
        <h2 class="slider-name">Fishnet Chair</h2>
        <p class="slider-details">Seat and back with
          upholstery made of cold cure foam. Steel frame,
          available in matt powder-coated black
          or highly polished chrome.
        </p>
        <a href="#" class="btn">Order Us</a>
      </div>
      <div class="slider-nav">
        <a class="circle" href="#"></a>
        <a class="circle circle-active" href="#"></a>
        <a class="circle" href="#"></a>
      </div>
    </div>
    <div class="featured-product">
      <div class="tab-controll">
        <div>
          <a class="tc-active" href="#">Featured</a>
          <a class="tc-nav" href="#">New</a>
        </div>
        <a class="tc-expl" href="#">explore all ></a>
      </div>
      <div class="tab-content">
        <a href="product-deails.html"><img src="{% static 'core/img/product-1.png' %}" alt=""></a>
        <a href="product-deails.html"><img src="{% static 'core/img/product-2.png' %}" alt=""></a>
        <a href="product-deails.html"><img src="{% static 'core/img/product-3.png' %}" alt=""></a>
        <a href="product-deails.html"><img src="{% static 'core/img/product-4.png' %}" alt=""></a>
      </div>
    </div>
    <div class="promo-product">
    <div class="promo">
      <img class="promo-bg" src="{% static 'core/img/promo-img1.png' %}">
      <div class="promo-content">
        <p class="promo-tag">exclusive</p>
        <h2 class="promo-name">Fishnet Chair</h2>
        <p class="promo-details">Seat and back with
          upholstery made of cold cure foam. Steel frame,
          available in matt powder-coated black
          or highly polished chrome.
        </p>
        <a href="#" class="btn">Order Us</a>
      </div>
    </div>
    <div class="promo">
      <img class="promo-bg" src="{% static 'core/img/promo-img.png' %}">
      <div class="promo-content">
        <p class="promo-tag">exclusive</p>
        <h2 class="promo-name">Fishnet Chair</h2>
        <p class="promo-details">Seat and back with
          upholstery made of cold cure foam. Steel frame,
          available in matt powder-coated black
          or highly polished chrome.
        </p>
        <a href="#" class="btn">Order Us</a>
      </div>
    </div>
    </div>
    <div class="trending">
      <div class="trending-title">
        <h2>Trending Products</h2>
        <a class="tc-expl" href="#">explore all ></a>
      </div>
      <div class="trending-products">
        <a href="product-deails.html"><img src="{% static 'core/img/product-11.png' %}" alt=""></a>
        <a href="product-deails.html"><img src="{% static 'core/img/product-21.png' %}" alt=""></a>
        <a href="product-deails.html"><img src="{% static 'core/img/product-31.png' %}" alt=""></a>
        <a href="product-deails.html"><img src="{% static 'core/img/product-41.png' %}" alt=""></a>
        <a href="product-deails.html"><img src="{% static 'core/img/product-5.png' %}" alt=""></a>
        <a href="product-deails.html"><img src="{% static 'core/img/product-6.png' %}" alt=""></a>
      </div>
    </div>
    <div class="slider">
      <img class="slider-bg" src="{% static 'core/img/slider.png' %}">
      <div class="slider-content">
        <p class="slider-tag red">Hot deal</p>
        <h2 class="slider-name">Fishnet Chair</h2>
        <p class="slider-details">Seat and back with
          upholstery made of cold cure foam. Steel frame,
          available in matt powder-coated black
          or highly polished chrome.
        </p>
        <a href="#" class="btn">Order Us</a>
      </div>
      <div class="slider-nav">
        <a class="circle" href="#"></a>
        <a class="circle circle-active" href="#"></a>
        <a class="circle" href="#"></a>
      </div>
    </div>
    <div class="exclusive-product">
      <div class="promo">
        <img class="promo-bg" src="{% static 'core/img/product-1-lg.png' %}">
        <div class="promo-content">
          <p class="promo-tag">exclusive</p>
          <h2 class="promo-name">Fishnet Chair</h2>
          <p class="promo-details">Seat and back with
            upholstery made of cold cure foam. Steel frame,
            available in matt powder-coated black
            or highly polished chrome.
          </p>
          <a href="#" class="btn">Order Us</a>
        </div>
      </div>
      <div class="exclusive-tiles">
        <a href="#"><img src="{% static 'core/img/product-2-sm.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'core/img/product-3-sm.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'core/img/product-4-sm.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'core/img/product-5-sm.png' %}" alt=""></a>
      </div>
    </div>
    <div class="mobile-app">
      <img class="slider-bg" src="{% static 'core/img/back-img.png' %}" alt="">
      <div class="mobile-app-content">
        <p class="mobile-app-tag">mobile app</p>
        <h2 class="slider-name">Find. Follow. Favorite.</h2>
        <p class="slider-details">Save your favorites and share your style.</p>
        <a href="#" class="apps-link app-store"></a>
        <a href="#" class="apps-link google-play"></a>
      </div>
    </div>
    <footer>
      <div class="f-block">
        <h5>Contact Us</h5>
        <p>132A Bridge Road Richmond VIC Australia.</p>
        <p>Talk to us on 1300 132 info@interior.com</p>
      </div>
      <div class="f-block">
        <h5>Useful Information</h5>
        <p>Sales terms Customer care Delivery</p>
        <p>Architect accounts Careers Exchanges & returns</p>
      </div>
      <div class="f-block">
        <h5>Let’s Stay in Touch!</h5>
        <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
        <form action="">
          <input type="email" name="email" id="email" placeholder="your email address">
          <input type="submit" value>
        </form>
      </div>
    </footer>
  </div>
</body>
</html>
