{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/fonts.css' %}">
  <title>{% block title %}Интерьер{% endblock %}</title>
</head>
<body>
  <div class="container">
    {% block header %}
    {% include 'core/header.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer>
      <div class="f-block">
        <h5>Contact Us</h5>
        <p>132A Bridge Road Richmond VIC Australia.</p>
        <p>Talk to us on 1300 132 info@interior.com</p>
      </div>
      <div class="f-block">
        <h5>Useful Information</h5>
        <p>Sales terms Customer care Delivery</p>
        <p>Architect accounts Careers Exchanges & returns</p>
      </div>
      <div class="f-block">
        <h5>Let’s Stay in Touch!</h5>
        <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
        <form action="">
          <input type="email" name="email" id="email" placeholder="your email address">
          <input type="submit" value>
        </form>
      </div>
    </footer>
    {% endblock %}
  </div>
</body>
</html>
